# Quantitative Momentum Strategy
We are going to build an investing strategy that selects the 50 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

In [1]:
import numpy as np
import pandas as pd
import requests
import math
from scipy.stats import percentileofscore as ptscore
import xlsxwriter

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from secrets import IEX_CLOUD_API_TOKEN

## We are going to fetch one year price details of each stock

In [3]:
symbol = 'AAPL'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()
data

{'companyName': 'Apple Inc',
 'marketcap': 2401326479169,
 'week52high': 147.87,
 'week52low': 89.32,
 'week52highSplitAdjustOnly': 150.86,
 'week52lowSplitAdjustOnly': 89.68,
 'week52change': 0,
 'sharesOutstanding': 16716105737,
 'float': 0,
 'avg10Volume': 63512106,
 'avg30Volume': 73359819,
 'day200MovingAvg': 132,
 'day50MovingAvg': 130.48,
 'employees': 150687,
 'ttmEPS': 4.47,
 'ttmDividendRate': 0.863403603058558,
 'dividendYield': 0.006203383393769787,
 'nextDividendDate': '',
 'exDividendDate': '2021-04-23',
 'nextEarningsDate': '2021-07-26',
 'peRatio': 30.809281050653194,
 'beta': 1.6055112626058687,
 'maxChangePercent': 53.58764643617855,
 'year5ChangePercent': 5.229848620198258,
 'year2ChangePercent': 1.8080829939004728,
 'year1ChangePercent': 0.5251405907391957,
 'ytdChangePercent': 0,
 'month6ChangePercent': 0.03921125957529686,
 'month3ChangePercent': 0.1219298199769208,
 'month1ChangePercent': 0.10846678973037902,
 'day30ChangePercent': 0.10901034963099679,
 'day5ChangePercent': 0.029042701641603257}

## Using the Batch API calls in order to reduce the time elapsed

In [4]:
def create_batch(x,n):
    for i in range(0,len(x),n):
        yield x[i:i+n]

In [5]:
batch_list = list(create_batch(stocks['Ticker'], 100))
batch_strings = []
for i in range(0, len(batch_list)):
    batch_strings.append(','.join(batch_list[i]))

df_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

In [6]:
df = pd.DataFrame(columns=df_columns)

for batch in batch_strings:
    batch_api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={batch}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_url).json()
    
    # print(data)

    for stock in batch.split(','):
        df = df.append(
                        pd.Series(
                            [
                                stock, 
                                data[stock]['quote']['latestPrice'],
                                data[stock]['stats']['year1ChangePercent'],
                                'N/A'
                            ], index = df_columns
                        ), ignore_index = True
        )

## Sorting the data by top 50 returns in a year

In [7]:
df.sort_values('One-Year Price Return',ascending=False,inplace=True)
df

    Ticker    Price One-Year Price Return Number of Shares to Buy
275     LB   74.310              3.939463                     N/A
441    TPR   43.300              2.313459                     N/A
179    FCX   38.350              2.256766                     N/A
148    DVN   29.870              1.871219                     N/A
253    IVZ   26.670              1.791936                     N/A
..     ...      ...                   ...                     ...
473   VRTX  206.280             -0.296628                     N/A
118    CTL   11.000                  None                     N/A
165   ETFC   50.700                  None                     N/A
326    MYL   16.269                  None                     N/A
327    NBL    8.800                  None                     N/A

[505 rows x 4 columns]

In [8]:
df = df[:51]
df

    Ticker   Price One-Year Price Return Number of Shares to Buy
275     LB   74.31              3.939463                     N/A
441    TPR   43.30              2.313459                     N/A
179    FCX   38.35              2.256766                     N/A
148    DVN   29.87              1.871219                     N/A
253    IVZ   26.67              1.791936                     N/A
272    KSS   56.46              1.774809                     N/A
410   SIVB  576.25              1.760597                     N/A
208    GPS   34.40                1.7584                     N/A
175   FANG   98.84              1.671439                     N/A
314    MOS   31.95              1.654626                     N/A
305    MGM   45.18              1.642644                     N/A
106    COF  159.00              1.632673                     N/A
129    DFS  123.70               1.54053                     N/A
149    DXC   42.01              1.509777                     N/A
174      F   15.26              1.499869                     N/A
344    NUE   97.65              1.478408                     N/A
317    MRO   14.22              1.470205                     N/A
384    PVH  112.47              1.397011                     N/A
203     GM   60.62              1.385665                     N/A
385    PWR   92.73              1.383666                     N/A
29    AMAT  139.00              1.379335                     N/A
426    SYF   49.96              1.335873                     N/A
233    HWM   35.60              1.317835                     N/A
128     DE  361.40              1.299688                     N/A
24    ALGN  627.67              1.296377                     N/A
23     ALB  174.11              1.290522                     N/A
453    UAA   21.62              1.266371                     N/A
407   SCHW   74.70              1.266338                     N/A
78    CARR   50.90              1.233888                     N/A
452     UA   18.90              1.230119                     N/A
349   NWSA   26.43              1.223503                     N/A
462    URI  330.65              1.221068                     N/A
185   FITB   40.22              1.213893                     N/A
448   TWTR   72.50              1.212551                     N/A
111   COTY    9.15              1.201437                     N/A
216    HCA  218.12              1.190774                     N/A
450    TXT   71.26              1.167931                     N/A
345   NVDA  826.63              1.165567                     N/A
98     CMA   73.19              1.158917                     N/A
446     TT  191.00              1.139953                     N/A
502   ZBRA  540.03              1.139112                     N/A
45    APTV  161.01              1.118058                     N/A
256    JCI   71.40              1.109328                     N/A
251     IT  263.20              1.090346                     N/A
436    TGT  249.84              1.079896                     N/A
245    IPG   33.76              1.070388                     N/A
417    SPG  134.32              1.067637                     N/A
348    NWS   25.49              1.065101                     N/A
90     CFG   46.51              1.058524                     N/A
282    LKQ   52.00              1.047013                     N/A
394     RF   20.50              1.032324                     N/A

In [9]:
df.reset_index(drop=True,inplace=True)
df

   Ticker   Price One-Year Price Return Number of Shares to Buy
0      LB   74.31              3.939463                     N/A
1     TPR   43.30              2.313459                     N/A
2     FCX   38.35              2.256766                     N/A
3     DVN   29.87              1.871219                     N/A
4     IVZ   26.67              1.791936                     N/A
5     KSS   56.46              1.774809                     N/A
6    SIVB  576.25              1.760597                     N/A
7     GPS   34.40                1.7584                     N/A
8    FANG   98.84              1.671439                     N/A
9     MOS   31.95              1.654626                     N/A
10    MGM   45.18              1.642644                     N/A
11    COF  159.00              1.632673                     N/A
12    DFS  123.70               1.54053                     N/A
13    DXC   42.01              1.509777                     N/A
14      F   15.26              1.499869                     N/A
15    NUE   97.65              1.478408                     N/A
16    MRO   14.22              1.470205                     N/A
17    PVH  112.47              1.397011                     N/A
18     GM   60.62              1.385665                     N/A
19    PWR   92.73              1.383666                     N/A
20   AMAT  139.00              1.379335                     N/A
21    SYF   49.96              1.335873                     N/A
22    HWM   35.60              1.317835                     N/A
23     DE  361.40              1.299688                     N/A
24   ALGN  627.67              1.296377                     N/A
25    ALB  174.11              1.290522                     N/A
26    UAA   21.62              1.266371                     N/A
27   SCHW   74.70              1.266338                     N/A
28   CARR   50.90              1.233888                     N/A
29     UA   18.90              1.230119                     N/A
30   NWSA   26.43              1.223503                     N/A
31    URI  330.65              1.221068                     N/A
32   FITB   40.22              1.213893                     N/A
33   TWTR   72.50              1.212551                     N/A
34   COTY    9.15              1.201437                     N/A
35    HCA  218.12              1.190774                     N/A
36    TXT   71.26              1.167931                     N/A
37   NVDA  826.63              1.165567                     N/A
38    CMA   73.19              1.158917                     N/A
39     TT  191.00              1.139953                     N/A
40   ZBRA  540.03              1.139112                     N/A
41   APTV  161.01              1.118058                     N/A
42    JCI   71.40              1.109328                     N/A
43     IT  263.20              1.090346                     N/A
44    TGT  249.84              1.079896                     N/A
45    IPG   33.76              1.070388                     N/A
46    SPG  134.32              1.067637                     N/A
47    NWS   25.49              1.065101                     N/A
48    CFG   46.51              1.058524                     N/A
49    LKQ   52.00              1.047013                     N/A
50     RF   20.50              1.032324                     N/A

## Creating the Portfolio Size

In [10]:
def create_portfolio_size():
    global portfolio_size
    
    portfolio_size = input(' Please enter your portfolio amount : ')

    try:
        val = float(portfolio_size)
    except ValueError:
        portfolio_size = input("Please enter your portfolio amount : ")
    
    return portfolio_size

In [11]:
position_size = float(create_portfolio_size()) / len(df.index)

pd.set_option('mode.chained_assignment', 'warn')

for i in range(0, len(df['Ticker'])):

    total_share = position_size/df['Price'][i]
    df.loc[i,'Number of Shares to Buy'] = math.floor(total_share)

C:\Users\Preet\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [12]:
df

   Ticker   Price One-Year Price Return Number of Shares to Buy
0      LB   74.31              3.939463                     120
1     TPR   43.30              2.313459                     206
2     FCX   38.35              2.256766                     233
3     DVN   29.87              1.871219                     299
4     IVZ   26.67              1.791936                     335
5     KSS   56.46              1.774809                     158
6    SIVB  576.25              1.760597                      15
7     GPS   34.40                1.7584                     260
8    FANG   98.84              1.671439                      90
9     MOS   31.95              1.654626                     280
10    MGM   45.18              1.642644                     198
11    COF  159.00              1.632673                      56
12    DFS  123.70               1.54053                      72
13    DXC   42.01              1.509777                     213
14      F   15.26              1.499869                     586
15    NUE   97.65              1.478408                      91
16    MRO   14.22              1.470205                     629
17    PVH  112.47              1.397011                      79
18     GM   60.62              1.385665                     147
19    PWR   92.73              1.383666                      96
20   AMAT  139.00              1.379335                      64
21    SYF   49.96              1.335873                     179
22    HWM   35.60              1.317835                     251
23     DE  361.40              1.299688                      24
24   ALGN  627.67              1.296377                      14
25    ALB  174.11              1.290522                      51
26    UAA   21.62              1.266371                     414
27   SCHW   74.70              1.266338                     119
28   CARR   50.90              1.233888                     175
29     UA   18.90              1.230119                     473
30   NWSA   26.43              1.223503                     338
31    URI  330.65              1.221068                      27
32   FITB   40.22              1.213893                     222
33   TWTR   72.50              1.212551                     123
34   COTY    9.15              1.201437                     978
35    HCA  218.12              1.190774                      41
36    TXT   71.26              1.167931                     125
37   NVDA  826.63              1.165567                      10
38    CMA   73.19              1.158917                     122
39     TT  191.00              1.139953                      46
40   ZBRA  540.03              1.139112                      16
41   APTV  161.01              1.118058                      55
42    JCI   71.40              1.109328                     125
43     IT  263.20              1.090346                      34
44    TGT  249.84              1.079896                      35
45    IPG   33.76              1.070388                     265
46    SPG  134.32              1.067637                      66
47    NWS   25.49              1.065101                     351
48    CFG   46.51              1.058524                     192
49    LKQ   52.00              1.047013                     172
50     RF   20.50              1.032324                     436

## Building a more Realistic Strategy where we can differentiate between high quality momentum stock and low quality momentum stock.
We'll be focusing on : 
1. One Month price returns
2. Three Month price returns
3. Six Month price returns
4. One Year price returns

In [13]:
real_df_columns = [
    'Ticker',
    'Price',
    'One Year Price Return',
    'One Year Return Percentile',
    'Six Month Price Return',
    'Six Month Return Percentile',
    'Three Month Price Return',
    'Three Month Return Percentile',
    'One Month Price Return',
    'One Month Return Percentile',
    'Momentum Score',
    'Number of Shares to Buy'
]

real_df = pd.DataFrame(columns=real_df_columns)
real_df

Empty DataFrame
Columns: [Ticker, Price, One Year Price Return, One Year Return Percentile, Six Month Price Return, Six Month Return Percentile, Three Month Price Return, Three Month Return Percentile, One Month Price Return, One Month Return Percentile, Momentum Score, Number of Shares to Buy]
Index: []

In [14]:
for batch in batch_strings:
    batch_api_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={batch}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_url).json()
    
    # print(data)

    for stock in batch.split(','):
        real_df = real_df.append(
                        pd.Series(
                            [
                                stock, 
                                data[stock]['quote']['latestPrice'],
                                data[stock]['stats']['year1ChangePercent'],
                                0,
                                data[stock]['stats']['month6ChangePercent'],
                                0,
                                data[stock]['stats']['month3ChangePercent'],
                                0,
                                data[stock]['stats']['month1ChangePercent'],
                                0,
                                0,
                                'N/A',
                            ], index = real_df_columns
                        ), ignore_index = True
        )

In [15]:
real_df

,Ticker,Price,One Year Price Return,One Year Return Percentile,Six Month Price Return,Six Month Return Percentile,Three Month Price Return,Three Month Return Percentile,One Month Price Return,One Month Return Percentile,Momentum Score,Number of Shares to Buy
0,A,150.90,0.712165,0,0.252219,0,0.16439,0,0.080947,0,0,N/A
1,AAL,22.54,0.682372,0,0.380874,0,-0.102813,0,-0.130566,0,0,N/A
2,AAP,218.53,0.500891,0,0.339284,0,0.133045,0,0.080982,0,0,N/A
3,AAPL,142.46,0.539744,0,0.038804,0,0.119697,0,0.107906,0,0,N/A
4,ABBV,118.87,0.211196,0,0.093122,0,0.066064,0,0.018761,0,0,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,119.11,0.379353,0,0.07982,0,0.063514,0,-0.032587,0,0,N/A
501,ZBH,167.35,0.380253,0,0.062354,0,0.021388,0,-0.017275,0,0,N/A
502,ZBRA,543.80,1.17222,0,0.388287,0,0.083285,0,0.060048,0,0,N/A
503,ZION,53.82,0.725386,0,0.263973,0,-0.023735,0,-0.076301,0,0,N/A
504,ZTS,196.10,0.400984,0,0.146512,0,0.210248,0,0.088068,0,0,N/A

In [16]:
time_period = [
    'One Year',
    'Six Month',
    'Three Month',
    'One Month'
]

In [17]:
for i in real_df.index:
    for period in time_period:
        if real_df.loc[i, f'{period} Price Return'] == None:
            real_df.loc[i, f'{period} Price Return'] = 0

In [18]:

for i in real_df.index:
    for period in time_period:
        req_column = f'{period} Return Percentile'
        supp_column = f'{period} Price Return'
        
        # real_df.loc[i, req_column] = 0
        # print(float(real_df[supp_column][i]))
        # arr = real_df[supp_column]
        # arr_element = real_df[supp_column][i]
        
        real_df.loc[i, req_column] = ptscore(real_df[supp_column], real_df.loc[i, supp_column])/100

In [19]:
real_df

,Ticker,Price,One Year Price Return,One Year Return Percentile,Six Month Price Return,Six Month Return Percentile,Three Month Price Return,Three Month Return Percentile,One Month Price Return,One Month Return Percentile,Momentum Score,Number of Shares to Buy
0,A,150.90,0.712165,0.726733,0.252219,0.661386,0.16439,0.857426,0.080947,0.885149,0,N/A
1,AAL,22.54,0.682372,0.706931,0.380874,0.861386,-0.102813,0.033663,-0.130566,0.011881,0,N/A
2,AAP,218.53,0.500891,0.540594,0.339284,0.819802,0.133045,0.774257,0.080982,0.887129,0,N/A
3,AAPL,142.46,0.539744,0.568317,0.038804,0.182178,0.119697,0.740594,0.107906,0.928713,0,N/A
4,ABBV,118.87,0.211196,0.20396,0.093122,0.30495,0.066064,0.550495,0.018761,0.661386,0,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,119.11,0.379353,0.417822,0.07982,0.273267,0.063514,0.546535,-0.032587,0.283168,0,N/A
501,ZBH,167.35,0.380253,0.419802,0.062354,0.225743,0.021388,0.344554,-0.017275,0.40198,0,N/A
502,ZBRA,543.80,1.17222,0.924752,0.388287,0.875248,0.083285,0.605941,0.060048,0.829703,0,N/A
503,ZION,53.82,0.725386,0.740594,0.263973,0.689109,-0.023735,0.138614,-0.076301,0.10495,0,N/A
504,ZTS,196.10,0.400984,0.439604,0.146512,0.419802,0.210248,0.930693,0.088068,0.89901,0,N/A

In [20]:
import statistics as stat

In [21]:
for i in real_df.index:
    momentum_percentiles = list()
    for period in time_period:
        momentum_percentiles.append(real_df[f'{period} Return Percentile'][i])
    real_df.loc[i,'Momentum Score'] = stat.mean(momentum_percentiles)

In [22]:
real_df

,Ticker,Price,One Year Price Return,One Year Return Percentile,Six Month Price Return,Six Month Return Percentile,Three Month Price Return,Three Month Return Percentile,One Month Price Return,One Month Return Percentile,Momentum Score,Number of Shares to Buy
0,A,150.90,0.712165,0.726733,0.252219,0.661386,0.16439,0.857426,0.080947,0.885149,0.782673,N/A
1,AAL,22.54,0.682372,0.706931,0.380874,0.861386,-0.102813,0.033663,-0.130566,0.011881,0.403465,N/A
2,AAP,218.53,0.500891,0.540594,0.339284,0.819802,0.133045,0.774257,0.080982,0.887129,0.755446,N/A
3,AAPL,142.46,0.539744,0.568317,0.038804,0.182178,0.119697,0.740594,0.107906,0.928713,0.60495,N/A
4,ABBV,118.87,0.211196,0.20396,0.093122,0.30495,0.066064,0.550495,0.018761,0.661386,0.430198,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,119.11,0.379353,0.417822,0.07982,0.273267,0.063514,0.546535,-0.032587,0.283168,0.380198,N/A
501,ZBH,167.35,0.380253,0.419802,0.062354,0.225743,0.021388,0.344554,-0.017275,0.40198,0.34802,N/A
502,ZBRA,543.80,1.17222,0.924752,0.388287,0.875248,0.083285,0.605941,0.060048,0.829703,0.808911,N/A
503,ZION,53.82,0.725386,0.740594,0.263973,0.689109,-0.023735,0.138614,-0.076301,0.10495,0.418317,N/A
504,ZTS,196.10,0.400984,0.439604,0.146512,0.419802,0.210248,0.930693,0.088068,0.89901,0.672277,N/A

In [23]:
top_50_real_df = real_df.sort_values('Momentum Score',ascending=False)

In [24]:
top_50_real_df

,Ticker,Price,One Year Price Return,One Year Return Percentile,Six Month Price Return,Six Month Return Percentile,Three Month Price Return,Three Month Return Percentile,One Month Price Return,One Month Return Percentile,Momentum Score,Number of Shares to Buy
175,FANG,102.81,1.670464,0.984158,1.103941,0.99802,0.23899,0.958416,0.155815,0.972277,0.978218,N/A
345,NVDA,836.32,1.175886,0.926733,0.570778,0.962376,0.476037,1.0,0.252882,0.99604,0.971287,N/A
149,DXC,42.36,1.561627,0.974257,0.586925,0.968317,0.314748,0.990099,0.062807,0.835644,0.942079,N/A
357,OXY,32.72,0.927523,0.855446,0.909951,0.992079,0.202615,0.922772,0.159024,0.974257,0.936139,N/A
251,IT,258.87,1.075225,0.910891,0.572252,0.964356,0.328463,0.99604,0.068954,0.847525,0.929703,N/A
...,...,...,...,...,...,...,...,...,...,...,...,...
184,FISV,110.02,0.103824,0.118812,-0.050675,0.045545,-0.115665,0.023762,-0.055751,0.154455,0.085644,N/A
188,FLT,272.10,0.00731,0.057426,-0.061436,0.041584,-0.083013,0.043564,-0.072818,0.112871,0.063861,N/A
290,LVS,54.78,0.186887,0.182178,-0.11112,0.019802,-0.141001,0.007921,-0.106616,0.039604,0.062376,N/A
112,CPB,47.19,-0.046647,0.027723,-0.041189,0.049505,-0.078627,0.047525,-0.065998,0.122772,0.061881,N/A
422,STX,89.61,-0.13056,0.013861,-0.134131,0.013861,-0.131873,0.017822,-0.119194,0.019802,0.016337,N/A

In [25]:
top_50_real_df = top_50_real_df[:51]
top_50_real_df.reset_index(drop=True,inplace=True)
top_50_real_df

,Ticker,Price,One Year Price Return,One Year Return Percentile,Six Month Price Return,Six Month Return Percentile,Three Month Price Return,Three Month Return Percentile,One Month Price Return,One Month Return Percentile,Momentum Score,Number of Shares to Buy
0,FANG,102.81,1.670464,0.984158,1.103941,0.99802,0.23899,0.958416,0.155815,0.972277,0.978218,N/A
1,NVDA,836.32,1.175886,0.926733,0.570778,0.962376,0.476037,1.0,0.252882,0.99604,0.971287,N/A
2,DXC,42.36,1.561627,0.974257,0.586925,0.968317,0.314748,0.990099,0.062807,0.835644,0.942079,N/A
3,OXY,32.72,0.927523,0.855446,0.909951,0.992079,0.202615,0.922772,0.159024,0.974257,0.936139,N/A
4,IT,258.87,1.075225,0.910891,0.572252,0.964356,0.328463,0.99604,0.068954,0.847525,0.929703,N/A
5,FTNT,251.21,0.752193,0.768317,0.658975,0.980198,0.311473,0.986139,0.133244,0.956436,0.922772,N/A
6,LB,76.99,3.988588,1.0,1.005033,0.99604,0.202159,0.920792,0.041763,0.770297,0.921782,N/A
7,WAT,359.10,0.957066,0.867327,0.436174,0.928713,0.241613,0.960396,0.105541,0.922772,0.919802,N/A
8,MRO,13.97,1.415811,0.968317,1.162828,1.0,0.20862,0.928713,0.030397,0.724752,0.905446,N/A
9,TGT,256.84,1.079262,0.912871,0.38778,0.873267,0.227133,0.946535,0.072763,0.869307,0.900495,N/A
10,EXR,175.12,0.754801,0.772277,0.461492,0.938614,0.233718,0.954455,0.095412,0.914851,0.89505,N/A
11,IDXX,676.70,0.950491,0.863366,0.291143,0.730693,0.322721,0.992079,0.162913,0.982178,0.892079,N/A
12,F,15.59,1.494307,0.970297,0.713553,0.984158,0.227643,0.948515,0.007004,0.594059,0.874257,N/A
13,DVN,30.45,1.908244,0.994059,0.922856,0.994059,0.286928,0.984158,-0.004413,0.50495,0.869307,N/A
14,JCI,69.97,1.113089,0.916832,0.511105,0.950495,0.159155,0.847525,0.033897,0.738614,0.863366,N/A
15,OKE,58.29,0.967068,0.873267,0.557164,0.960396,0.131108,0.770297,0.060971,0.831683,0.858911,N/A
16,COP,64.82,0.618743,0.655446,0.619368,0.976238,0.180777,0.893069,0.080663,0.883168,0.85198,N/A
17,GOOG,2678.61,0.791989,0.794059,0.458059,0.936634,0.184179,0.90099,0.041657,0.766337,0.849505,N/A
18,IQV,251.65,0.773477,0.782178,0.386615,0.867327,0.251233,0.970297,0.042639,0.774257,0.848515,N/A
19,INTU,501.39,0.665328,0.70297,0.301685,0.752475,0.246375,0.964356,0.121173,0.950495,0.842574,N/A
20,GPS,34.20,1.741819,0.986139,0.689651,0.982178,0.130403,0.764356,0.012561,0.629703,0.840594,N/A
21,CARR,49.04,1.192776,0.930693,0.308632,0.772277,0.168816,0.867327,0.044349,0.786139,0.839109,N/A
22,HES,92.34,0.813527,0.811881,0.719912,0.986139,0.19883,0.914851,0.016048,0.641584,0.838614,N/A
23,TXT,71.19,1.217017,0.938614,0.434884,0.924752,0.213326,0.932673,0.000146,0.550495,0.836634,N/A
24,TROW,209.02,0.733157,0.748515,0.373191,0.853465,0.176125,0.885149,0.070896,0.857426,0.836139,N/A
25,LLY,241.94,0.452071,0.491089,0.391854,0.877228,0.253688,0.972277,0.170721,0.986139,0.831683,N/A
26,SEE,61.73,0.894061,0.841584,0.3134,0.782178,0.313836,0.988119,0.0267,0.70297,0.828713,N/A
27,SYF,50.18,1.339959,0.958416,0.434303,0.918812,0.180446,0.891089,-0.002113,0.516832,0.821287,N/A
28,SLB,33.38,0.917927,0.851485,0.523297,0.956436,0.182212,0.89505,0.004306,0.570297,0.818317,N/A
29,EOG,89.47,0.801588,0.8,0.78088,0.988119,0.153211,0.831683,0.016555,0.647525,0.816832,N/A
30,ANET,380.43,0.767052,0.780198,0.258889,0.671287,0.184448,0.90297,0.087099,0.89703,0.812871,N/A
31,AXP,172.00,0.832591,0.821782,0.400719,0.893069,0.158149,0.845545,0.022765,0.683168,0.810891,N/A
32,BIIB,352.99,0.321292,0.334653,0.435646,0.926733,0.259271,0.976238,0.306617,1.0,0.809406,N/A
33,ZBRA,543.80,1.17222,0.924752,0.388287,0.875248,0.083285,0.605941,0.060048,0.829703,0.808911,N/A
34,WELL,89.08,0.634176,0.667327,0.328061,0.80396,0.156462,0.843564,0.093968,0.912871,0.806931,N/A
35,SPG,136.05,1.069747,0.906931,0.598253,0.972277,0.169456,0.873267,-0.009138,0.473267,0.806436,N/A
36,DFS,121.60,1.610588,0.978218,0.344558,0.823762,0.236211,0.956436,-0.010296,0.457426,0.80396,N/A
37,WST,380.82,0.621941,0.659406,0.283006,0.724752,0.283169,0.980198,0.067552,0.845545,0.802475,N/A
38,GOOGL,2625.42,0.714608,0.728713,0.413671,0.90495,0.154684,0.835644,0.028974,0.718812,0.79703,N/A
39,TWTR,69.20,1.254848,0.946535,0.261947,0.681188,0.06828,0.562376,0.192666,0.992079,0.795545,N/A
40,MS,94.39,1.016462,0.89703,0.356987,0.839604,0.190434,0.908911,-0.001014,0.532673,0.794554,N/A
41,MSI,224.78,0.641066,0.679208,0.305566,0.766337,0.170999,0.875248,0.070769,0.855446,0.794059,N/A
42,NTAP,86.92,0.998731,0.885149,0.261098,0.677228,0.123813,0.748515,0.071049,0.861386,0.793069,N/A
43,PSA,304.53,0.584054,0.615842,0.32446,0.79802,0.203798,0.924752,0.059216,0.825743,0.791089,N/A
44,EXPD,132.00,0.69511,0.716832,0.348632,0.825743,0.17708,0.887129,0.033249,0.732673,0.790594,N/A
45,PYPL,294.51,0.644877,0.683168,0.242195,0.637624,0.168985,0.869307,0.120122,0.946535,0.784158,N/A
46,A,150.90,0.712165,0.726733,0.252219,0.661386,0.16439,0.857426,0.080947,0.885149,0.782673,N/A
47,XOM,64.83,0.583088,0.613861,0.589943,0.970297,0.123313,0.746535,0.046937,0.79604,0.781683,N/A
48,MSCI,549.59,0.5895,0.619802,0.207967,0.550495,0.251149,0.968317,0.162429,0.978218,0.779208,N/A
49,NDAQ,178.75,0.479185,0.526733,0.350395,0.829703,0.17546,0.883168,0.07553,0.873267,0.778218,N/A
50,MGM,45.18,1.637774,0.980198,0.399449,0.889109,0.099407,0.667327,0.003137,0.568317,0.776238,N/A

In [26]:
position_size = float(create_portfolio_size())/ len(top_50_real_df.index)

In [27]:
for i in top_50_real_df.index:
    top_50_real_df.loc[i,'Number of Shares to Buy'] = math.floor(position_size/top_50_real_df.loc[i,'Price'])

C:\Users\Preet\AppData\Roaming\Python\Python39\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [28]:
top_50_real_df

,Ticker,Price,One Year Price Return,One Year Return Percentile,Six Month Price Return,Six Month Return Percentile,Three Month Price Return,Three Month Return Percentile,One Month Price Return,One Month Return Percentile,Momentum Score,Number of Shares to Buy
0,FANG,102.81,1.670464,0.984158,1.103941,0.99802,0.23899,0.958416,0.155815,0.972277,0.978218,786
1,NVDA,836.32,1.175886,0.926733,0.570778,0.962376,0.476037,1.0,0.252882,0.99604,0.971287,96
2,DXC,42.36,1.561627,0.974257,0.586925,0.968317,0.314748,0.990099,0.062807,0.835644,0.942079,1909
3,OXY,32.72,0.927523,0.855446,0.909951,0.992079,0.202615,0.922772,0.159024,0.974257,0.936139,2472
4,IT,258.87,1.075225,0.910891,0.572252,0.964356,0.328463,0.99604,0.068954,0.847525,0.929703,312
5,FTNT,251.21,0.752193,0.768317,0.658975,0.980198,0.311473,0.986139,0.133244,0.956436,0.922772,322
6,LB,76.99,3.988588,1.0,1.005033,0.99604,0.202159,0.920792,0.041763,0.770297,0.921782,1050
7,WAT,359.10,0.957066,0.867327,0.436174,0.928713,0.241613,0.960396,0.105541,0.922772,0.919802,225
8,MRO,13.97,1.415811,0.968317,1.162828,1.0,0.20862,0.928713,0.030397,0.724752,0.905446,5790
9,TGT,256.84,1.079262,0.912871,0.38778,0.873267,0.227133,0.946535,0.072763,0.869307,0.900495,314
10,EXR,175.12,0.754801,0.772277,0.461492,0.938614,0.233718,0.954455,0.095412,0.914851,0.89505,461
11,IDXX,676.70,0.950491,0.863366,0.291143,0.730693,0.322721,0.992079,0.162913,0.982178,0.892079,119
12,F,15.59,1.494307,0.970297,0.713553,0.984158,0.227643,0.948515,0.007004,0.594059,0.874257,5188
13,DVN,30.45,1.908244,0.994059,0.922856,0.994059,0.286928,0.984158,-0.004413,0.50495,0.869307,2656
14,JCI,69.97,1.113089,0.916832,0.511105,0.950495,0.159155,0.847525,0.033897,0.738614,0.863366,1156
15,OKE,58.29,0.967068,0.873267,0.557164,0.960396,0.131108,0.770297,0.060971,0.831683,0.858911,1387
16,COP,64.82,0.618743,0.655446,0.619368,0.976238,0.180777,0.893069,0.080663,0.883168,0.85198,1247
17,GOOG,2678.61,0.791989,0.794059,0.458059,0.936634,0.184179,0.90099,0.041657,0.766337,0.849505,30
18,IQV,251.65,0.773477,0.782178,0.386615,0.867327,0.251233,0.970297,0.042639,0.774257,0.848515,321
19,INTU,501.39,0.665328,0.70297,0.301685,0.752475,0.246375,0.964356,0.121173,0.950495,0.842574,161
20,GPS,34.20,1.741819,0.986139,0.689651,0.982178,0.130403,0.764356,0.012561,0.629703,0.840594,2365
21,CARR,49.04,1.192776,0.930693,0.308632,0.772277,0.168816,0.867327,0.044349,0.786139,0.839109,1649
22,HES,92.34,0.813527,0.811881,0.719912,0.986139,0.19883,0.914851,0.016048,0.641584,0.838614,876
23,TXT,71.19,1.217017,0.938614,0.434884,0.924752,0.213326,0.932673,0.000146,0.550495,0.836634,1136
24,TROW,209.02,0.733157,0.748515,0.373191,0.853465,0.176125,0.885149,0.070896,0.857426,0.836139,387
25,LLY,241.94,0.452071,0.491089,0.391854,0.877228,0.253688,0.972277,0.170721,0.986139,0.831683,334
26,SEE,61.73,0.894061,0.841584,0.3134,0.782178,0.313836,0.988119,0.0267,0.70297,0.828713,1310
27,SYF,50.18,1.339959,0.958416,0.434303,0.918812,0.180446,0.891089,-0.002113,0.516832,0.821287,1612
28,SLB,33.38,0.917927,0.851485,0.523297,0.956436,0.182212,0.89505,0.004306,0.570297,0.818317,2423
29,EOG,89.47,0.801588,0.8,0.78088,0.988119,0.153211,0.831683,0.016555,0.647525,0.816832,904
30,ANET,380.43,0.767052,0.780198,0.258889,0.671287,0.184448,0.90297,0.087099,0.89703,0.812871,212
31,AXP,172.00,0.832591,0.821782,0.400719,0.893069,0.158149,0.845545,0.022765,0.683168,0.810891,470
32,BIIB,352.99,0.321292,0.334653,0.435646,0.926733,0.259271,0.976238,0.306617,1.0,0.809406,229
33,ZBRA,543.80,1.17222,0.924752,0.388287,0.875248,0.083285,0.605941,0.060048,0.829703,0.808911,148
34,WELL,89.08,0.634176,0.667327,0.328061,0.80396,0.156462,0.843564,0.093968,0.912871,0.806931,908
35,SPG,136.05,1.069747,0.906931,0.598253,0.972277,0.169456,0.873267,-0.009138,0.473267,0.806436,594
36,DFS,121.60,1.610588,0.978218,0.344558,0.823762,0.236211,0.956436,-0.010296,0.457426,0.80396,665
37,WST,380.82,0.621941,0.659406,0.283006,0.724752,0.283169,0.980198,0.067552,0.845545,0.802475,212
38,GOOGL,2625.42,0.714608,0.728713,0.413671,0.90495,0.154684,0.835644,0.028974,0.718812,0.79703,30
39,TWTR,69.20,1.254848,0.946535,0.261947,0.681188,0.06828,0.562376,0.192666,0.992079,0.795545,1169
40,MS,94.39,1.016462,0.89703,0.356987,0.839604,0.190434,0.908911,-0.001014,0.532673,0.794554,857
41,MSI,224.78,0.641066,0.679208,0.305566,0.766337,0.170999,0.875248,0.070769,0.855446,0.794059,359
42,NTAP,86.92,0.998731,0.885149,0.261098,0.677228,0.123813,0.748515,0.071049,0.861386,0.793069,930
43,PSA,304.53,0.584054,0.615842,0.32446,0.79802,0.203798,0.924752,0.059216,0.825743,0.791089,265
44,EXPD,132.00,0.69511,0.716832,0.348632,0.825743,0.17708,0.887129,0.033249,0.732673,0.790594,612
45,PYPL,294.51,0.644877,0.683168,0.242195,0.637624,0.168985,0.869307,0.120122,0.946535,0.784158,274
46,A,150.90,0.712165,0.726733,0.252219,0.661386,0.16439,0.857426,0.080947,0.885149,0.782673,536
47,XOM,64.83,0.583088,0.613861,0.589943,0.970297,0.123313,0.746535,0.046937,0.79604,0.781683,1247
48,MSCI,549.59,0.5895,0.619802,0.207967,0.550495,0.251149,0.968317,0.162429,0.978218,0.779208,147
49,NDAQ,178.75,0.479185,0.526733,0.350395,0.829703,0.17546,0.883168,0.07553,0.873267,0.778218,452
50,MGM,45.18,1.637774,0.980198,0.399449,0.889109,0.099407,0.667327,0.003137,0.568317,0.776238,1790

In [29]:
xlsxwriter  = pd.ExcelWriter('momentum_strategy.xlsx',engine='xlsxwriter')
top_50_real_df.to_excel(xlsxwriter, sheet_name='Momentum Strategy', index = False)

In [30]:
background_color = '#0a0a23'
font_color = '#ffffff'

string_template = xlsxwriter.book.add_format(
        {
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

dollar_template = xlsxwriter.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

integer_template = xlsxwriter.book.add_format(
        {
            'num_format':'0',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

percent_template = xlsxwriter.book.add_format(
        {
            'num_format':'0.00%',
            'font_color': font_color,
            'bg_color': background_color,
            'border': 1
        }
    )

In [31]:
column_formats = { 
                    'A': ['Ticker', string_template],
                    'B': ['Price', dollar_template],
                    'C': ['One Year Price Return', percent_template],
                    'D': ['One Year Return Percentile', percent_template],
                    'E': ['Six Month Price Return', percent_template],
                    'F': ['Six Month Return Percentile', percent_template],
                    'G': ['Three Month Price Return', percent_template],
                    'H': ['Three Month Return Percentile', percent_template],
                    'I': ['One Month Price Return', percent_template],
                    'J': ['One Month Return Percentile', percent_template],
                    'K': ['Momentum Score', percent_template],
                    'L': ['Number of Shares to Buy', integer_template]
                    }

for column in column_formats.keys():
    xlsxwriter.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    xlsxwriter.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

In [32]:
xlsxwriter.save()